/* background */
.Contact {
  
  padding-top: 80px;
  padding-bottom: 180px;
  padding-left: 20px;
  padding-right:20px;
  margin: auto; 
  background: var(--bg-card);
}
.Contact-wrapper{
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/*----------- 1º part--------- */
.content-wrapper-contact{
  width: 100%;
  max-width: 1000px;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.info-wrapper{
width: 50%;
display: flex;

}

/* icon - content*/
/* icon - btn.css */
.icon-wrapper{
height: 100%;

}
.icon-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 5px;
}



/* description */
.text-description{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
  gap: 10px;
  
}

.description{
color: var(--main-color);
font-size: 24px;

}
.box{
  color: var(--text);
  font-size: 18px;
  background-color: var(--bg);
  padding: 20px;
  border-radius: 20px;
}
.margin-costum{
  margin-bottom: 20px;
}
/* -----------2º part pic ------------*/
.image{
  background-color: var(--bg);
  width:50%;
  margin-left: 60px;
  height: 400px;

}

/* phone */
@media screen and (width <= 425px) {
  
  .Contact{
    padding-bottom: 40px;
  }
  .content-wrapper-contact{
    flex-direction: column;
    padding-top: 40px;

  }
  .info-wrapper{
    width: 100%;
    padding-bottom: 40px;
  }

  .icon-wrapper{
    gap: 80px;
  }
 
  .box{
    font-size: 12px;
  }
  .image{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
  }
}