/* background */
.footer {
  background-color: var(--bg);
  width: 100%;
  height: auto;
}
/* text */
.by {
  color: var(--text);
  font-weight: 300;
}

/* icons */

.social-icon {
  
  color: var(--bg);
  background-color: var(--text);
  border: 2px solid var(--text);
  border-radius: 5px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  opacity: 0.5;
  margin-left:5px ;
  margin-right:5px ;
  transition: 0.5s ease-in-out;
}

.social-icon:hover{
  font-size: 25px;
  color: var(--bg);
  opacity: 1;
  margin: 2px;
}


/* phone */
@media screen and (width <= 425px) {

  .by{
    font-size: 11px;
  }
  .social-icon {
  
    font-size: 20px;
    
  }
  
  .social-icon:hover{
    font-size: 20px;
    
  }
  
}