/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");



/* Root */
:root {
    /* background */

    --color-degrade: linear-gradient(45deg, #3428ad 0%, #f0215f 25%, #f59193 50%, #f0215f 75%, #3428ad 100%) ;
  
    --bg: #f5f7fb;
    --bg-color: linear-gradient(90deg, #f0215f 0%, #3428ad 20%);
    --bg-color-2: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
      ),
      linear-gradient(90deg, #f0215f 0%, #f59193 100%);
    --header-color: rgb(255, 255, 255);
    --bg-card: #ffffff;
  
    /* profile */
    --prof-img: url('./images/galery/profile-pic.png');
  
    /* color */
    --main-color: #f0215f;
    --main-g-color:linear-gradient(90deg, #f0215f 0%, #3428ad 20%);
    --btn-primary: linear-gradient(270deg, #f59193 0%, #f0215f 100%);
    --btn-secundary: linear-gradient(270deg, #f59193 0%, #f2bb88 100%);
    --swicth-btn: #f0215f;
    --secundary-color: #f2bb88;
  
    /*   texts */
    --text: black;
    --intro-color: #f0215f;
    --intro-weight: 700;
    --intro-size: 25px;
    --sub-title-color: black;
    --sub-title-size: 40px;
    --title-color: black;
    --title-weight: 500;
    --title-size: 75px;
  }
  
  [data-theme="dark"] {
    /* background */
    --color-degrade: linear-gradient(45deg, #3428ad 0%, #f0215f 25%, #f59193 50%, #f0215f 75%, #3428ad 100%) ;
    --bg: #0c0615;
    --bg-color: linear-gradient(90deg, #f0215f 0%, #3428ad 20%);
    --bg-color-2: linear-gradient(270deg, #3428ad 0%, #ac3584 100%);
    --header-color: rgba(0, 0, 0, 0.8);
    --bg-card: #25233b;
  
     /* profile */
     --prof-img: url('./images/galery/profile-picd.png');
  
    /* color */
    --main-color: #f0215f;
    --btn-primary: linear-gradient(270deg, #ac3584 0%, #ed366c 100%);
    --btn-secundary: linear-gradient(270deg, #3428ad 0%, #ac3584 100%);
    --swicth-btn: #f0215f;
    --secundary-color: #3428ad;
    --main-g-color:linear-gradient(90deg, #f0215f 0%, #3428ad 20%);
  
    /* texts */
    --text: white;
    --intro-text: white;
    --intro-color: #f0215f;
    --intro-weight: 700;
    --intro-size: 25px;
    --sub-title-color: white;
    --sub-title-size: 40px;
    --title-color: white;
    --title-weight: 500;
    --title-size: 75px;
  }
  /* Geral Css */
  * {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    position: relative;
    font-family: Poppins, Lexend, sans-serif;
  }
  
  a {
    text-decoration: none;
    color: var(--text);
  }
  a:hover {
    text-decoration: none;
    color: var(--main-color);
    transition: 0.5s ease;
  }
  
  ul {
    list-style-type: none;
  }
  
  .title {
    font-size: 40px;
    background: var(--color-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    
    animation: glowing 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
  }
  @keyframes glowing{
    0% {background-position: 0 0 ;}
    50% {background-position: 400% 0 ;}
    100% {background-position: 0 0 ;}
  }
  

  /* animation */

/*   @keyframes apepear {
    from{
      opacity: 0;
      scale:0.5;
    }
    to{
      opacity: 1;
      scale: 1;
    }
  }
  .animation{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cober 40%;

  } */